/* CSS Variable */
:root {
  --iris-color: #4d5ae5;
  --navyblue-color: #2e2f42;
  --slate-color: #434455;
  --white-color: #ffffff;
  --cloud-color: #f4f4fd;
  --ocean-color: #404bbf;
  --cornflower-color: #e7e9fc;
}
body {
  font-family: "roboto", sans-serif;
}
/* Gen. Styles */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: var(--navyblue-color);
}
.button {
  cursor: pointer;
  background-color: var(--iris-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
.text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.section-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
/* Header */
.header {
  background-color: var(--white-color);
}

.header-logo {
  color: var(--navyblue-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.header-logo:hover,
.header-logo:focus {
  color: var(--iris-color);
}
.header-logo-web {
  color: var(--iris-color);
}
.header-link:hover,
.header-link:focus,
.priority {
  color: var(--iris-color);
}

/* Hero section */
.hero {
  background-color: var(--navyblue-color);
}
.hero-title {
  color: var(--white-color);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}
.hero-button {
  color: var(--white-color);
  font-family: inherit;
}

/* feature section */
.feature {
  background-color: var(--white-color);
}

.feature-item-title {
  color: var(--navyblue-color);
}
.feature-item-text {
  color: var(--slate-color);
}
/* work-images section */
.work-images {
  background-color: var(--white-color);
}
.work-images-title {
  color: var(--navyblue-color);
}

/* team section */
.team {
  background-color: var(--cloud-color);
}
.team-title {
  color: var(--navyblue-color);
}
.team-item {
  background-color: var(--white-color);
}
.team-item-name {
  color: var(--navyblue-color);
}
.team-item-position {
  color: var(--slate-color);
}

/* footer section */
.footer {
  background-color: var(--navyblue-color);
}
.footer-logo {
  color: var(--cloud-color);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-logo:hover,
.footer-logo:focus {
  color: var(--iris-color);
}
.footer-logo-web {
  color: var(--iris-color);
}
.footer-text {
  color: var(--cloud-color);
}

/* Portfolio Page */

/* Filters section */
.filters-button {
  color: var(--iris-color);
  background-color: var(--cloud-color);
  border-radius: 4px;
  border: 1px solid var(--cloud-color);
}
.filters-button:hover,
.filter-button:focus {
  background-color: var(--ocean-color);
  color: var(--white-color);
}

/* Services section */
.services-list {
  background-color: var(--white-color);
}
.services-item {
  background: var(--white-color);
}
.services-title {
  color: var(--navyblue-color);
}
.services-text {
  color: var(--slate-color);
}
